<template>
  <body style="background:#e5e5e5;">
    <div class="tab_nav">
        <div class="header">
            <div class="h-left">
                <a class="sb-back iconfont iconguanbi" href="javascript:history.back(-1)">&#xe62d;</a>
            </div>
            <div class="h-mid">购物车</div>
        </div>
    </div>
    <div class="goods_nav hid" id="menu">
        <div class="Triangle">
            <h2></h2>
        </div>
        <ul>
            <li><a href=""><span class="menu1"></span><i>首页</i></a></li>
            <li><a href=""><span class="menu3"></span><i>购物车</i></a></li>
            <li style=" border:0;"><a href=""><span class="menu4"></span><i>我的</i></a></li>
        </ul>
    </div>
    <form>
      <div class="folw_shopmain" v-for="(item, index) of carlist" :key="item.productId">
        <div class="jiazai" v-show="!flag">
          <span>
            <a href="">亲，已经没有东西了哦！</a>
          </span>
        </div>
        <div class="shopmain_title">
          <dl>
            <dt>
              <a class="shopLink eclipse" href="">店铺：{{ item.brandShowName }}</a>
            </dt>
            <dd>
              <a class="shopLink edit_btn" @click="updata(index)">编辑</a>
            </dd>
          </dl>
        </div>
        <div class="item-list" v-show="flag">
          <div class="inner">
            <input type="checkbox" autocomplete="off" stock="0" name="item.productId" id="item.productId" class="f_checkbox check-wrapper check-wrapper-1 store810">
            <div class="item_img">
              <a href=""><img :src="item.smallImage"></a>
            </div>
            <div class="goods_desc edit_info_1" style="display: block;">
              <dl>
                <dt class="left">{{ item.productName }}</dt>
              </dl>
              <div class="price">
                  <span>￥：{{ item.marketPrice }}</span>
                  <em>× {{ item.num }}</em>
              </div>
            </div>
            <div class="num" v-show="num == index ? true : false">
              <div class="qiehuan">
                <div class="xm-input-number">
                  <a class="input-sub active" @click="reduce(index, $event)"><span>-</span> </a>
                  <input type="text" v-model="item.num" stock="0" class="input-num">
                  <a class="input-add" @click="add(index, $event)"><span>+</span></a>
                </div>
              </div>
              <div class="delete">
                <a class="shit" href="javascript:if (confirm('您确实要把该商品移出购物车吗？'))" @click="del(index)">删除 </a>
                <a class="over" @click="over">完成 </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div style=" height:50px"></div> -->
      <div class="flow_bottom">
        <input type="hidden" name="step" value="checkout">
        <div class="quanxuan">
          <div class="check-wrapper">
            <input id="select" type="checkbox" autocomplete="off" class="f_checkbox f_pub_checkbox f_pub_checkbox_1 b" title="1" style=" margin-top:0; margin-left:0;" @click="allChoose">
            <span class="cart-checktext">全选</span>
          </div>
        </div>
        <div class="info">
          <span class="hot" id="cart_amount_desc"><em>总计：</em>￥<b>{{ totalPrice }}</b>元</span>
        </div>
        <div class="right">
          <input type="submit" onclick="return selcart_submit();" class="xm-button " value="去结算">
        </div>
      </div>
    </form>
  </body>
</template>

<script>
export default {
  name: 'cart',
  data () {
    return {
      carlist: [],
      flag: false,
      flag1: false,
      singlePrice: 0,
      totalPrice: 0,
      num: -1
    }
  },
  watch: {
    allChoose (newval, oldval) {
      if (oldval === false) {
        for (let i in this.carlist) {
          this.carlist[i].flag6 = true
        }
      } else {
        for (let j in this.carlist) {
          this.carlist[j].flag6 = false
        }
      }
    }
  },
  created () {
    this.carlist = JSON.parse(localStorage.getItem('goods'))
    if (this.carlist.length > 0) {
      this.flag = true
    } else {
      this.flag = false
    }
    for (var i = 0; i < this.carlist.length; i++) {
      this.singlePrice = this.carlist[i].num * this.carlist[i].marketPrice
      this.totalPrice += this.singlePrice
    }
  },
  methods: {
    updata (id) {
      this.num = id
    },
    over () {
      this.num = -1
    },
    del (index) {
      this.carlist.splice(index, 1)
      let strcarlist = JSON.stringify(this.carlist)
      localStorage.setItem('goods', strcarlist)
    },
    reduce (index, e) {
      if (this.carlist[index].num < 2) {
        this.totalPrice = 0 // 这个是需要在每次加之前把总价清零
        this.carlist[index].num === 1
        for (let i = 0; i < this.carlist.length; i++) {
          this.singlePrice = 0 // 这个是每次在加之前清零
          this.singlePrice = this.carlist[i].num * this.carlist[i].marketPrice
          this.totalPrice += this.singlePrice
        }
      } else {
        this.totalPrice = 0
        this.carlist[index].num -= 1
        for (var i = 0; i < this.carlist.length; i++) {
          this.singlePrice = 0
          this.singlePrice = this.carlist[i].num * this.carlist[i].marketPrice
          this.totalPrice += this.singlePrice
        }
      }
    },
    add (index, e) {
      // console.log(this.carlist[index].num)
      this.carlist[index].num++
      this.totalPrice = 0
      for (var i = 0; i < this.carlist.length; i++) {
        this.singlePrice = 0
        this.singlePrice = this.carlist[i].num * this.carlist[i].marketPrice
        this.totalPrice += this.singlePrice
      }
    },
    allChoose () {
      let checkboxs = document.querySelectorAll('input[type=checkbox]')
      console.log(checkboxs)
    }
  }
}

</script>

<style lang="scss">
@import '@/qunar/reset.scss';

.tab_nav {
  .header {
    width: 100%;
    height: 45px;
    background: #ffffff;
    top: 0;
    z-index: 9999;
    border: 0;
    border-bottom: 1px solid #CCC;
    .h-left {
      float: left;
      width: 30px;
      height: 45px;
      .sb-back {
        color:#ccc;
        font-size: 22px;
        font-weight: 800;
        margin-left:10px;
        padding-top:8px;
        float: left;
      }
    }
    .h-mid {
      height: 45px;
      float: left;
      text-align: left;
      color: #666;
      font-size: 18px;
      line-height: 45px;
      margin-left: 100px;
      position: relative;
      font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    }
  }
}
.hid {
  display: none;
}
.goods_nav {
  width: 27%;
  float: right;
  right: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 9999999;
  top: 26px;
  .Triangle {
    width: 100%;
    height: 20px;
    h2 {
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent #565553 transparent;
      border-width: 10px;
      transition: 0.6s;
      float: right;
      margin-right: 10px;
    }
  }
  ul {
    width: 100%;
    overflow: hidden;
    background-color: rgba(27, 27, 27, 0.9);
    border-radius: 2px;
    li {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #626262;
      a {
        text-decoration: none;
        outline: 0;
        span {
          display: block;
          width: 25px;
          height: 25px;
          float: left;
          margin-top: 5px;
          margin-left: 5px;
        }
        .menu1 {
          background-position: 0 4px;
        }
        i {
          font-style: normal;
          color: #f3f1f1;
          font-size: 14px;
          display: block;
          float: left;
          line-height: 40px;
        }
      }
    }
  }
}
form {
  .jiazai {
    width: 95%;
    margin: auto;
    span {
      display: block;
      width: 100%;
      line-height: 50px;
      font-size: 14px;
      text-align: center;
      color: #999;
      a {
        color: #4e4e4e;
      }
    }
  }
  .folw_shopmain {
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
    .shopmain_title {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #eeeeee;
      dl {
        width: 100%;
        margin: auto;
        overflow: hidden;
        .f_checkbox {
          width: 20px;
          height: 20px;
          background: #ffffff 0px 0px;
          border-radius: 50%;
          margin: 20px 10px 0 0;
          float: left;
        }
        dt {
          float: left;
          background-size: 48%;
          background-size: auto 18px;
          padding-left: 5px;
          a {
            font-size: 14px;
            line-height: 40px;
            color: #666;
          }
        }
        dd {
          float: right;
          a {
            display: block;
            float: right;
            padding-left: 15px;
            padding-right: 15px;
            border-left: 1px solid #eeeeee;
            font-size: 12px;
            line-height: 18px;
            color: #666;
            margin-top: 11px;
          }
        }
      }
    }
    .item-list {
      width: 100%;
      overflow: hidden;
      background: #f5f5f5;
      margin-bottom: 2px;
      .inner {
        width: 100%;
        height: 80px;
        overflow: hidden;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        .f_checkbox {
          height: 20px;
          width: 20px;
          top: 35px;
          left: 10px;
          display: block;
          position: absolute;
          margin: 0;
        }
        .item_img {
          width: 25%;
          height: 100%;
          float: left;
          overflow: hidden;
          margin-left: 40px;
          a {
            display: block;
            width: 76%;
            height: 100%;
            img {
              @include rect(100%, 100%);
            }
          }
        }
        .goods_desc {
          width: 60%;
          float: right;
          height: 80px;
          padding-right: 2%;
          dl {
            display: flex;
            width: 100%;
            overflow: hidden;
            dt {
              width: 100%;
              height: 40px;
              overflow: hidden;
              font-size: 14px;
              line-height: 20px;
              color: #666;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            &.left {
              margin-right: 20px;
              float: left;
            }
            &.right {
              float: right;
              padding-left: 15px;
              padding-right: 15px;
              border-left: 1px solid #eeeeee;
              font-size: 12px;
              line-height: 18px;
              color: #666;
              margin-top: 11px;
            }
            }
          }
          .price {
            width: 100%;
            overflow: hidden;
            span {
              display: block;
              float: left;
              font-size: 14px;
              line-height: 150%;
              color: #E71F19;
            }
            i {
              display: block;
              float: left;
              margin-left: 8px;
              font-size: 12px;
              line-height: 150%;
              color: #999;
              text-decoration: line-through;
            }
            em {
              display: block;
              float: right;
              font-size: 14px;
              line-height: 150%;
              color: #666;
            }
          }
        }
        .num {
          width: 60%;
          height:30%;
          position:absolute;
          top: 0;
          right: 0;
          height: 80px;
          padding-right: 2%;
          background: #fff;
          .qiehuan {
            width: 70%;
            float: left;
            line-height: 80px;
            text-align: center;
            .xm-input-number {
              width: 70%;
              height: 40px;
              display: flex;
              margin-left: 20px;
              margin-top: 20px;
              .input-sub {
                display: block;
                width: 30px;
                height: 30px;
                // position: absolute;
                // left: 0px;
                // top: 0px;
                // vertical-align: middle;
                border: 1px solid #CCC;
                position: relative;
                span {
                  width: 40px;
                  height: 40px;
                  color: #999;
                  font-size: 24px;
                  position: absolute;
                  left: -6px;
                  top: -26px;
                }
              }
              .input-num {
                background: #fff;
                vertical-align: middle;
                width: 48%;
                height: 30px;
                text-align: center;
                font-size: 16px;
                color: #999;
                -webkit-appearance: none;
                border-radius: 0;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                border: 1px solid #CCC;
                // margin-left: 30px;
              }
              .input-add {
                display: inline-block;
                width: 30px;
                height: 30px;
                // position: absolute;
                // right: 0px;
                // top: 0px;
                vertical-align: middle;
                border: 1px solid #CCC;
                span {
                  width: 40px;
                  height: 40px;
                  color: #999;
                  font-size: 24px;
                  position: absolute;
                  right: 89px;
                  top: -3px;
                }
              }
            }
          }
          .delete {
            position: absolute;
            top: 0px;
            right: 0;
            width: 60px;
            height: 80px;
            text-align: center;
            overflow: hidden;
            a {
              display: block;
              color: #fff;
              font-size: .16rem;
              &.shit {
                @include rect(100%, 50%);
                background: rgb(236, 101, 23);
                line-height: 40px;
              }
              &.over {
                @include rect(100%, 50%);
                background: #dd2726;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
  .flow_bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #d7d7d7;
    background-color: #fff;
    z-index: 2;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    min-width: 320px;
    .quanxuan {
      margin-left: 9px;
      height: 40px;
      width: 60%;
      -webkit-box-flex: 1;
      .check-wrapper {
        margin-left: 0px;
        width: 70px;
        padding-top: 11px;
        .f_checkbox {
          width: 20px;
          height: 20px;
          background: #ffffff;
          border-radius: 50%;
          margin: 20px 10px 0 0;
          float: left;
        }
        .cart-checktext {
          float: left;
          width: 35px;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          text-indent: 3px;
          color: #000;
        }
      }
    }
    .info {
      width: 100%;
      color: #FF5778;
      font-size: 16px;
      text-align: right;
      margin-right: 5px;
      -webkit-box-flex: 1;
      .hot {
        font-size: 14px;
        color: #c42a32;
        text-align: right;
        width: 100%;
        float: left;
        em {
          font-size: 16px;
          color: #c42a32;
        }
      }
    }
    .right {
      width: 100px;
      height: 50px;
      .xm-button {
        background-color: #DD2726;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        width: 100%;
        border: none;
        font-family: 微软雅黑;
        display: block;
      }
    }
  }
}
</style>
