<template>
  <div class="container">
    <header class="header">
      <van-nav-bar :title="data.brand" @click-left="onClickLeft" @click-right="onClickRight" left-arrow>
        <van-icon name="cart-o" slot="right" />
      </van-nav-bar>
    </header>
    <div class="abc"></div>
    <div class="content">
      <div class='detail'>
        <div class="banners">
          <van-swipe :autoplay="3000" indicator-color="white">
            <van-swipe-item>
              <img src='//i8.mifile.cn/v1/a1/02ae8e94-0832-03a8-b476-dceead2355c0.webp' alt="">
            </van-swipe-item>
            <van-swipe-item>
              <img src="//i8.mifile.cn/v1/a1/f9cea6ca-2711-a7da-dd94-4468f0d591ec.webp" alt="">
            </van-swipe-item>
            <van-swipe-item>
              <img src="//i8.mifile.cn/v1/a1/1536b35d-2a41-9343-8a53-b8f5a679eede.webp" alt="">
            </van-swipe-item>
          </van-swipe>
        </div>
        <p class="info">
          <van-notice-bar
          text="打折促销，仅限今天，优惠多多，走过路过千万不不要错过。"
          left-icon="volume-o"
        />
        </p>
        <p class="title">
          {{data.title}}
          <br>
        </p>
        <p class='info'>
          <font color="#ff4a00">「4GB+64GB 深空灰 {{data.price}}元」「6GB+64GB 全色系{{data.price+200}}元」「6GB+128GB 全色系{{data.price+400}}元」</font>
          2400万旗舰自拍 / Dual PD 双核对焦潮流镜面渐变色 / 7.5mm超薄机身 / 6.26"小刘海全面屏 / AI裸妆美颜 / 骁龙660AIE处理器
        </p>
        <p class="price">
        ￥{{data.price}}   <span class="price_n">￥{{data.price - 200 }}</span> <span class="heart">心动指数：</span><van-rate v-model="value" icon="like" void-icon="like-o" color='red' />
        </p>
        <div class="detail_img">
          <img src="http://hbimg.b0.upaiyun.com/c25b6b5b9401b8c24328f038fa3719f5a287b2c831b59-7J8LA6_fw658" alt="">
        </div>
      </div>
      <div class='foots'>
        <van-goods-action>
          <van-goods-action-mini-btn
            icon="chat-o"
            text="客服"
          />
          <van-goods-action-mini-btn
            info="5"
            icon="cart-o"
            text="购物车"
            to='/cart'
          />
          <van-goods-action-mini-btn
            icon="shop-o"
            text="店铺"
          />
          <van-goods-action-big-btn @click="addGoods" text="加入购物车" />
          <van-goods-action-big-btn
            primary
            text="立即购买"
          />
        </van-goods-action>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { NavBar, Icon, GoodsAction, NoticeBar, GoodsActionBigBtn, GoodsActionMiniBtn, Toast, Swipe, SwipeItem, Rate } from 'vant'
import api from '@/api/detail/index'
Vue.use(NavBar).use(Icon).use(GoodsAction).use(NoticeBar).use(GoodsActionBigBtn).use(GoodsActionMiniBtn).use(Toast).use(Swipe).use(SwipeItem).use(Rate)
export default {
  name: 'detail',
  components: {
  },
  props: {
    id: {
      type: String
    }
  },
  data () {
    return {
      msg: '详情',
      data: [],
      value: 3,
      goodsId: '',
      usersId: '',
      price: '',
      count: 1,
      goods: [],
      img: '',
      title: ''
    }
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    onClickRight () {
      this.$router.push({
        path: '/cart'
      })
    },
    addGoods () {
      Toast.success({
        message: '添加购物车成功',
        duration: '800'
      })
      this.usersId = localStorage.getItem('isLogin')
      this.goodsId = this.data.id
      this.price = this.data.price
      this.img = this.data.img
      this.title = this.data.title
      this.goods = {
        goodsId: this.goodsId,
        price: this.price,
        count: this.count,
        img: this.img,
        title: this.title
      }
      api.requestGoods('/test/api/carts/check?usersId=' + this.usersId).then(data => {
        console.log(data)
        if (data.length === 0) {
          console.log(this.goods)
          // this.goods = [{
          //   goodsId: this.goodsId,
          //   price: this.price,
          //   count: this.count
          // }]
          api.addData('/test/api/carts/addAction', {
            usersId: this.usersId,
            goods: [this.goods]
          }).then(data => {
            console.log('----------' + data)
          }).catch(err => console.log(err))
        } else {
          // console.log('data[0].goods.count' + data[0].goods[0].count)
          // console.log(this.goodsId)
          if (data[0].goods == null) {
            data[0].goods = [this.goods]
          } else {
            let result = data[0].goods.filter(item => {
              if (item.goodsId === this.goodsId) {
                item.count = item.count * 1 + 1
                console.log('if:' + this.goods)
                console.log('else:' + this.goods)
              }
              return item.goodsId === this.goodsId
            })
            console.log('result ' + result)
            if (result.length === 0) {
              data[0].goods.push(this.goods)
            }
          }
          console.log(data[0].goods)
          api.addData('/test/api/carts/addAction', {
            usersId: this.usersId,
            goods: data[0].goods
          }).then(data => {
            // console.log(data)
          }).catch(err => console.log(err))
        }
      }).catch(err => console.log(err))
      console.log('goodsId:' + this.goodsId + 'usersId:' + this.usersId + 'title:' + this.title + 'img:' + this.img + 'price:' + this.price + 'count:' + this.count)
    }
  },
  created () {
    // console.log(this.$route.query.id)
    const id = this.$route.params.id
    api.requestData(id).then(data => {
      // console.log(data[0])
      this.data = data[0]
    }).catch(err => console.log(err))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '@/qunar/reset.scss';
.header{
  @include flexbox();
  @include rect(100%, auto);
  @include justify-content(space-around);
  @include align-items(center);
  .van-nav-bar {
    @include rect(100%, auto);
    @include background-color(#F6F6F6);
    .van-nav-bar__left{
      @include border-radius(50%);
      @include rect(10%, 80%);
      @include margin(0 0 3px 0);
      @include background-color(rgba(52, 52, 52, 0.5));
      @include font-size(13px);
      .van-icon{
        @include text-color(#fff);
        @include padding(0 0 9px 0);
      }
    }
    .van-nav-bar__title{
      @include text-color(skyblue);
    }
    .van-nav-bar__right{
      @include rect(10%, 80%);
      @include font-size(23px);
      @include border-radius(50%);
      @include margin(0 0 3px 0);
      @include background-color(rgba(52, 52, 52, 0.5));
      .van-icon{
        @include text-color(#fff);
        @include padding(0 0 10px 0);
      }
    }
  }
}
.content{
  // @include text-align(center);
  .detail{
    .banners{
    @include rect(100%, auto);
    .van-swipe{
      @include rect(100%, 4rem);
      @include overflow(visible);
      .van-swipe__track{
        @include rect(100%, 4rem);
        .van-swipe-item{
          @include rect(100%, 1.6rem);
          img{
            @include rect(100%, 100%);
          }
        }
      }
    }
  }
  .info{
    @include margin(0 0 0 20px);
    color: rgba(0,0,0,.54);
  }
  .title{
    @include margin(10px 0 10px 20px);
    @include font-size(23px);
  }
  .price{
    @include text-color(#ff6700);
    @include margin(10px 0 10px 20px);
    @include font-size(26px);
    .price_n{
      @include text-color(rgba(0,0,0,.54));
      @include font-size(13px);
      text-decoration:line-through;
    }
    .heart{
      @include font-size(18px);
      vertical-align: middle;
    }
    .van-rate{
      @include margin(0);
      display: inline-block;
    }
  }
  .brand{
    @include margin(0 0 0 20px);
    @include font-size(23px);
  }
  .type{
    @include margin(0 0 0 20px);
    @include font-size(23px);
  }
  .sales{
    @include margin(0 0 0 20px);
    @include font-size(23px);
  }
  .detail_img{
    @include rect(100%, auto);
    img{
      @include rect(100%, auto);
    }
  }
  }
}
</style>
