<template>
  <div>
     <mt-header title="商品详情">
        <Back class="back" slot="left"/>
        <mt-button icon="more" slot="right"></mt-button>
      </mt-header>
    <van-address-edit
      :area-list="areaList"
      show-postal
      show-delete
      show-set-default
      show-search-result
      :search-result="searchResult"
      @save="onSave"
      @delete="onDelete"
      @change-detail="onChangeDetail"
    />
  </div>
</template>

<script>
import Vue from 'vue'
import Back from '@/components/common/Back'
import { Header, Toast } from 'mint-ui'
import { AddressEdit } from 'vant'
Vue.use(AddressEdit)
Vue.use(Header, Toast)
export default {
  data () {
    return {
      areaList: {},
      searchResult: []
    }
  },
  components: {
    Back
  },
  methods: {
    onSave () {
      Toast('save')
    },
    onDelete () {
      Toast('delete')
    },
    onChangeDetail (val) {
      if (val) {
        this.searchResult = [{
          name: '黄龙万科中心',
          address: '杭州市西湖区'
        }]
      } else {
        this.searchResult = []
      }
    }
  }
}
</script>
<style lang="scss">
@import "@/qunar/reset.scss";
  .mint-header {
  @include background-color(orange);
  }
</style>
