<template>
  <div class="container">
     <mt-header title="购物车">
        <Back class="back" slot="left"/>
        <mt-button icon="more" slot="right"></mt-button>
      </mt-header>
    <div class="content">
      <ul class="cartList">
        <li v-for="(item, index) of cartList" :key="index"  >
          <input class="checkbox"  @click="flag($event)" style="display:block;background-color:#fff;border-radius:50%;width:.20rem;height:.20rem" type="checkbox" />
          <div class="pic">
            <img :src="item.img">
          </div>
          <div class="about" style="text-align:left;position:relative;width:1.5rem;height:100%;font:1">
            <h3> {{ item.brand }} </h3>
            <h2>{{ item.name}}</h2>
            <span style="position:absolute;bottom:0;right:0; color:#f50">￥{{ price(item.id) }}</span>
          </div>
          <div class="num">
            <button @click="minute($event, item.id)">-</button><input style="width:.3rem;height:.2rem;" type="text" :value="value" /><button @click="plus($event,item.id)">+</button>
          </div>
          <div class="todo">
            <button style="background:#f01;border:0;color:#fff;" @click="deletePro(item.id)">
              删除
            </button>
          </div>
    </li>
  </ul>
    </div>
    <div class="bottom">
      <van-submit-bar
        :price="total"
        button-text="提交订单"
        @submit="onSubmit">
  <input  @click="flag" style="display:block;background-color:#fff;border-radius:50%;width:.20rem;height:.20rem" type="checkbox" /> 全选
  <span slot="tip">
    你的收货地址不支持同城送, <router-link to="/address"><span>修改地址</span></router-link>
  </span>
   一共 {{ totalNum }} 件商品
</van-submit-bar>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { Header } from 'mint-ui'
import Back from '@/components/common/Back'
import { SubmitBar, CheckboxGroup, Checkbox } from 'vant'
Vue.use(Checkbox).use(CheckboxGroup)
Vue.use(SubmitBar)
Vue.use(Header)

export default {
  name: 'cart',
  data () {
    return {
      cartList: [],
      value: {
        type: {},
        default: 1
      },
      total: {
        type: Number,
        default: 0
      },
      totalNum: {
        type: Number
      }
    }
  },
  components: {
    Back
  },
  created () {
    this.cartList = JSON.parse(localStorage.getItem('goods'))
    for (var i in this.cartList) {
      this.total = 0
      this.totalNum = 0
      this.value = this.cartList[i].count * 1
      this.totalNum += parseInt(this.cartList[i].count)
      this.total += this.value * this.cartList[i].price * 100
    }
  },
  methods: {
    onSubmit () {
      console.log('购买完成')
    },
    deletePro (id) {
      this.cartList.splice(id, 1)
      let newmsg = JSON.stringify(this.cartList)
      localStorage.setItem('goods', newmsg)
    },
    flag (e) {
      if (e.target.checked === 'checked') {
        for (var i in this.cartList) {
          this.total = 0
          this.totalNum = 0
          this.value = this.cartList[i].count * 1
          this.totalNum += parseInt(this.cartList[i].count)
          this.total += this.value * this.cartList[i].price * 100
        }
      }
    },
    minute (e, id) {
      console.log(id)
      console.log(e.target.nextElementSibling.value = e.target.nextElementSibling.value - 1)
      for (var i in this.cartList) {
        if (this.cartList[i].id === id) {
          if (this.value > 1) {
            this.value--
          }
          this.cartList[i].count = this.value
          localStorage.setItem('goods', JSON.stringify(this.cartList))
        }
      }
      if (this.value <= 1) {
        this.value = 1
        this.disabled = 'disabled'
      } else {
        return this.value--
      }
    },
    plus (e, id) {
      for (var i in this.cartList) {
        if (this.cartList[i].id === id) {
          this.value++
          this.cartList[i].count = this.value
          localStorage.setItem('goods', JSON.stringify(this.cartList))
        }
      }
    },
    price (id) {
      for (var i in this.cartList) {
        if (this.cartList[i].id === id) {
          return this.cartList[i].price * this.cartList[i].count
        }
      }
    }
  },
  computed: {
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '@/qunar/reset.scss';
  .mint-header {
  @include background-color(orange);
 }
   ul.cartList{
     @include rect(100%,100%);
     li{
       @include flexbox();
       border:1px solid #eee;
       @include rect(100%,.8rem);
       align-items: center;
       justify-content: space-around;
       img{
         @include rect(.5rem,.5rem);
       }
       h2{font-size:.10rem;font-weight:100;color:#000;}
     }
   }
   .num {
     overflow:hidden;
     button{
       @include square(.20rem);
       float: left;text-align: center;
       background:#eee;
     }
     input {
       float: left;
       text-align:center;
     }
   }
   .container{
     @include overflow();
   }
</style>
