<template>
  <div class="container">
      <mt-header title="选择城市">
  <router-link to="/" slot="left">
    <mt-button icon="back">back</mt-button>
  </router-link>
  <mt-button icon="more" slot="right"></mt-button>
</mt-header>
      <div class="content">
        <mt-index-list>
          <mt-index-section v-for = "(item, index) of list" :key = "index" :index = "item.letter">
            <mt-cell v-for = "itm of item.cities" :key="itm.id" :title="itm.name"></mt-cell>
          </mt-index-section>
        </mt-index-list>
    <router-view/>
      </div>
    </div>
</template>

<script>
import Vue from 'vue'
import { IndexList, IndexSection } from 'mint-ui'
import api from '@/api/city'

Vue.use(IndexList, IndexSection)

export default {
  name: 'city',
  data () {
    return {
      list: []
    }
  },
  created () {
    api.requestData().then(data => {
      this.list = data
    }).catch(err => console.log(err))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '@/qunar/reset.scss';
  .mint-header {
  @include background-color(orange);
 }
</style>
