<template>
  <div class="container">
      <mt-header title="登录">
        <Back slot="left"/>
    <mt-button icon="more" slot="right"></mt-button>
  </mt-header>
    <div class="content">
        <mt-field  placeholder="请输入您的手机号" type="tel" :state="phoneState" v-model="phone"></mt-field>
        <mt-field  placeholder="请输入密码" type="password" v-model="password" :state="passwordState"></mt-field>
        <mt-button :class="type" :disabled="flag" @click.native="saveStorage(); login()" id="login">登录</mt-button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import Back from '@/components/common/Back'
import { Header, Field, Button, Toast } from 'mint-ui'

Vue.use(Header, Field, Button)

export default {
  name: 'login',
  data () {
    return {
      phone: '',
      password: ''
    }
  },
  components: {
    Back
  },
  computed: {
    phoneState () {
      if (this.phone === '') {
        return ''
      } else {
        if (/^1[3|4|5|6|7|8|9][0-9]\d{8}$/.test(this.phone)) {
          return 'success'
        } else {
          return 'error'
        }
      }
    },
    passwordState () {
      if (this.password.length >= 6 && this.password.length <= 12) {
        return 'success'
      } else {
        return 'errror'
      }
    },
    flag () {
      if (this.passwordState === 'success' && this.phoneState === 'success') {
        return false
      } else {
        return true
      }
    },
    type () {
      if (this.passwordState === 'success' && this.phoneState === 'success') {
        return 'success'
      } else {
        return 'error'
      }
    }
  },
  methods: {
    login () {
      axios.post('https://www.daxunxun.com/users/login', {
        username: this.phone,
        password: this.password
      }).then(data => {
        console.log(data)
        if (data.data === 2) {
          Toast('没有找到该用户哦')
          this.$router.push('/register')
        } else if (data.data === 0) {
          Toast('登录失败')
        } else if (data.data === -1) {
          Toast('密码错误！')
        } else {
          Toast('欢迎你' + this.phone)
          this.$router.push('/')
        }
      })
    },
    saveStorage () {
      var storage = window.localStorage
      var data = {
        isLogin: 'ok'
      }
      var d = JSON.stringify(data)
      storage.setItem('isLogin', d)
      console.log(storage.data)
    }
  }
}
</script>

<style lang="scss">
  .mint-header {
    background-color: orange;
  }
  #login {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
  }
  #code{
    border:1px solid orange;
    width:1.3rem;
    height:0.4rem;
  }
  .mint-field{
    border:1px solid #eee;
    margin:.05rem;
  }
  .success {
    background:orange;
  }
  .error {
    background:gray;
  }
</style>
