<template>
  <div class="container">
      <mt-header title="注册账号">
        <Back slot="left"/>
    <mt-button icon="more" slot="right"></mt-button>
  </mt-header>
    <div class="content">
      <mt-field  placeholder="请输入用户名" v-model="nickname" :state="nameState"></mt-field>
        <mt-field  placeholder="请输入您的邮箱" type="email" v-model="email" :state="emailState"></mt-field>
        <mt-field  placeholder="请设置密码" type="password" v-model="password" :state="passwordState"></mt-field>
        <mt-field  placeholder="请输入您的手机号" type="tel" :state="phoneState" v-model="phone"></mt-field>
        <mt-field  placeholder="请输入验证码" v-model="code" :state = "codeState">
          <mt-button id="code" :disabled="btnFlag" plain @click.native="sendCode">{{ msg }}</mt-button>
        </mt-field>
        <mt-button :type="type" :disabled="flag" @click.native="register" id="register">注册</mt-button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import Back from '@/components/common/Back'
import { Header, Field, Button, Toast } from 'mint-ui'

Vue.use(Header, Field, Button)

export default {
  name: 'register',
  data () {
    return {
      nickname: '',
      msg: '发送验证码',
      btnFlag: false,
      phone: '',
      code: '',
      password: '',
      email: '',
      admin: '123456'
    }
  },
  components: {
    Back
  },
  computed: {
    nameState () {
      if (this.nickname === '') {
        return ''
      } else {
        if (this.nickname.length >= 3 && this.nickname.length <= 12) {
          if (/^((?!,|，|\|).)*$/.test(this.nickname)) {
            return 'success'
          } else {
            return 'error'
          }
        }
      }
    },
    emailState () {
      if (this.email === '') {
        return ''
      } else {
        if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.email)) {
          return 'success'
        } else {
          return 'error'
        }
      }
    },
    phoneState () {
      if (this.phone === '') {
        return ''
      } else {
        if (/^1[3|4|5|6|7|8|9][0-9]\d{8}$/.test(this.phone)) {
          return 'success'
        } else {
          return 'error'
        }
      }
    },
    passwordState () {
      if (this.password.length >= 6 && this.password.length <= 12) {
        return 'success'
      } else {
        return 'errror'
      }
    },
    codeState () {
      if (this.code === '') {
        return ''
      } else {
        if (this.code !== this.admin) {
          return 'error'
        } else {
          return 'success'
        }
      }
    },
    flag () {
      if (this.codeState === 'success' && this.nameState === 'success' && this.emailState === 'success' && this.passwordState === 'success') {
        return false
      } else {
        return true
      }
    },
    type () {
      if (this.codeState === 'success' && this.nameState === 'success' && this.emailState === 'success' && this.passwordState === 'success') {
        return 'sucsess'
      } else {
        return 'default'
      }
    }
  },
  methods: {
    sendCode () {
      axios.get('https://www.daxunxun.com/users/sendCode?tel=' + this.phone)
        .then(data => {
          console.log(data)
          if (data.data === 1) {
            Toast('该用户已注册')
          } else if (data.data === 0) {
            Toast('获取验证码失败')
          } else {
            this.admin = data.data.code
          }
        })
      let timer = null
      let time = 60
      timer = setInterval(() => {
        time--
        this.btnFlag = true
        this.msg = time + '后重新发送'
        if (time === 0) {
          this.msg = '发送验证码'
          this.btnFlag = false
          clearInterval(timer)
        }
      }, 1000)
    },
    register () {
      axios.post('https://www.daxunxun.com/users/register', {
        username: this.phone,
        password: this.password
      }).then(data => {
        console.log(data)
        if (data.data === 2) {
          Toast('该用户已注册')
        } else if (data.data === 0) {
          Toast('注册失败')
        } else {
          Toast('注册成功')
          this.$router.push('/')
        }
      })
    }
  }
}
</script>

<style lang="scss">
  .mint-header {
    background-color: orange;
  }
  #register {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
  }
  #code{
    border:1px solid orange;
    width:1.5rem;
    height:0.4rem;
  }
  .mint-field{
    border:1px solid #eee;
    margin:.05rem;
  }
</style>
