<template>
 <div class="container">
      <mt-header title="搜索">
       <Back slot="left"/>
        <mt-button icon="more" slot="right"></mt-button>
      </mt-header>
      <div class="content">
          <van-search
            v-model="value"
            placeholder="请输入搜索关键词"
            show-action
            @search="onSearch"
          >
            <div style="width:100%;" slot="action" @click="onSearch(value)">搜索</div>
          </van-search>
          <div class="hotSearch">
            <p>亲，试试以下热搜`</p>
            <ul>
              <li @click="onSearch('联想')">联想</li>
              <li @click="onSearch('惠普')">惠普</li>
              <li @click="onSearch('华硕')">华硕</li>
              <li @click="onSearch('Apple')">苹果</li>
              <li @click="onSearch('戴尔')">戴尔</li>
            </ul>
          </div>
        <SearchList :result='result' :value='value'></SearchList>
      </div>
    </div>
</template>

<script>
import Vue from 'vue'
import api from '@/api/search'
import Back from '@/components/common/Back'
import SearchList from '@/components/search/Search.vue'
import { Header, Toast } from 'mint-ui'
import { Search } from 'vant'
Vue.use(Search)
Vue.use(Header, Toast)

export default {
  name: 'search',
  data () {
    return {
      value: '',
      result: []
    }
  },
  computed: {
  },
  methods: {
    onSearch (value) {
      api.requestSearchData(value).then(data => {
        console.log(data.data)
        this.result = data.data
        console.log(this.result)
        if (this.result.length === 0) {
          Toast({
            message: '亲，没有找到您心仪的产品哦~试试别的吧~',
            position: 'bottom',
            duration: 4000
          })
        }
      }).catch(err => console.log(err))
      return this.result
    }
  },
  components: {
    SearchList,
    Back
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '@/qunar/reset.scss';
  .mint-header {
  @include background-color(orange);
 }
 .van-field__control {
   @include rect(100%,.4rem)
 }
 .hotSearch{
   @include rect(100%,1rem);
   ul{
     color:#fff;
     @include flexbox();
     li:first-child{
       background:orangered;padding:.1rem;margin:.1rem;border-radius:.18rem;
     }
     li:nth-child(2){
       background:red;padding:.1rem;margin:.1rem;border-radius:.18rem;
     }
     li:nth-child(3){
       background:yellowgreen;padding:.1rem;margin:.1rem;border-radius:.18rem;
     }
     li:nth-child(4){
       background:purple;padding:.1rem;margin:.1rem;border-radius:.18rem;
     }
     li:nth-child(5){
       background:cyan;padding:.1rem;margin:.1rem;border-radius:.18rem;
     }
   }
 }
</style>
