<template>
<div class="contain">
  <div class="container">
      <!-- <mt-header title="个人中心">
        <mt-button icon="more" slot="right"></mt-button>
      </mt-header> -->
      <mt-actionsheet
        :actions="actions"
        v-model="sheetVisible">
      </mt-actionsheet>
        <div class="user">
            <button class="avater" @click="selectAvatar"></button>
            <div class="info" style="margin:.15rem 0  0 .1rem">
              <h2 style="font-weight:100;margin-bottom:.1rem;">王飞龙<span style="margin-left:.05rem"><svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1487"><path d="M513 956.9C266.8 956.9 67.1 757.2 67.1 511 67.1 264.7 266.8 65.1 513 65.1S958.9 264.7 958.9 511c0 246.2-199.6 445.9-445.9 445.9zM282.5 757.7l136-53.2-84.1-84.1-51.9 137.3z m72.9-158.3l84.1 84.1 273.3-273.2-84.1-84.1-273.3 273.2z m346.8-346.8l-52.6 52.6 84.1 84.1 52.6-52.6-84.1-84.1z" fill="" p-id="1488"></path></svg></span></h2>
              <h4 style="font-weight:100"><span>ID:</span>18895397768</h4>
              <button style="width:.5rem;height:.22rem;border-radius:.11rem;background:#f99;border:0;font-size:.05rem;">魄力值999</button><button style="width:.5rem;height:.22rem;border-radius:.11rem;background:#f46;border:0;font-size:.05rem;">信用值100</button>
            </div>
            <div class="ctr">
               <router-link to="/register" slot="left"><button style="font-size:.12rem;border:0 ;background:orange;color:#000;">注册<svg class="icon" style="display:block; width: .2rem; height: .2rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1899"><path d="M632.555 583.662a334.724 334.724 0 0 1 34.43 15.764c13.844 7.312 19.14 24.463 11.828 38.308-7.312 13.845-24.463 19.14-38.308 11.829-39.825-21.033-84.256-32.18-130.354-32.18-134.46 0-249.156 95.628-274.315 225.944-2.968 15.373-17.837 25.43-33.21 22.462-15.374-2.968-25.43-17.837-22.462-33.21 22.237-115.181 102.51-207.796 207.629-248.892-76.518-42.868-128.233-124.698-128.233-218.602 0-138.316 112.198-250.435 250.592-250.435 138.392 0 250.59 112.12 250.59 250.435 0 93.886-51.695 175.702-128.187 218.577z m71.487-218.577c0-106.992-86.804-193.735-193.89-193.735-107.088 0-193.892 86.742-193.892 193.735 0 106.992 86.804 193.734 193.892 193.734 107.086 0 193.89-86.743 193.89-193.734z m12.694 346.77V626.83a28.26 28.26 0 0 1 3.87-14.324 28.468 28.468 0 0 1 10.175-10.174 28.26 28.26 0 0 1 14.324-3.87 28.26 28.26 0 0 1 14.324 3.87 28.468 28.468 0 0 1 10.174 10.174 28.26 28.26 0 0 1 3.87 14.324v85.025h84.179c15.656 0 28.348 12.692 28.348 28.349 0 15.656-12.692 28.348-28.348 28.348h-84.18v84.08a28.26 28.26 0 0 1-3.87 14.324 28.468 28.468 0 0 1-10.173 10.174 28.26 28.26 0 0 1-14.324 3.87 28.26 28.26 0 0 1-14.324-3.87 28.468 28.468 0 0 1-10.175-10.174 28.26 28.26 0 0 1-3.87-14.324v-84.08h-85.124c-15.656 0-28.348-12.692-28.348-28.348 0-15.657 12.692-28.349 28.348-28.349h85.124z" p-id="1900"></path></svg></button></router-link>
                <router-link to="/login" slot="left"><button style="font-size:.12rem;border:0 ;background:orange;margin-left:.2rem;color:#000;">登录<svg class="icon" style="display:block;width: .2rem; height: .2rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2693"><path d="M509.62963 146.299259c-209.540741 0-380.017778 170.287407-380.017778 379.543704 0 209.256296 170.477037 379.543704 380.017778 379.543704 209.540741 0 380.017778-170.287407 380.017778-379.543704C889.647407 316.586667 719.17037 146.299259 509.62963 146.299259zM509.62963 867.555556c-188.397037 0-341.712593-153.220741-341.712593-341.712593 0-188.397037 153.315556-341.712593 341.712593-341.712593 188.397037 0 341.712593 153.315556 341.712593 341.712593C851.247407 714.24 698.026667 867.555556 509.62963 867.555556zM729.220741 518.637037 570.69037 360.011852c-3.887407-3.887407-12.325926-1.896296-18.773333 4.456296-6.447407 6.447407-8.438519 14.791111-4.456296 18.773333l125.060741 125.060741L305.398519 508.302222c-9.671111 0-17.540741 7.86963-17.540741 17.540741l0 0c0 9.671111 7.86963 17.540741 17.540741 17.540741l367.122963 0L547.460741 668.444444c-3.887407 3.887407-1.896296 12.325926 4.456296 18.773333 6.447407 6.447407 14.791111 8.438519 18.773333 4.456296l158.625185-158.625185c1.232593-1.232593 1.896296-2.844444 1.991111-4.740741 0.094815-1.706667 0.094815-3.318519 0-5.025185C731.117037 521.481481 730.453333 519.86963 729.220741 518.637037z" p-id="2694"></path></svg></button></router-link>
            </div>
            <div style="position:absolute;right:0;top:1rem;" class="address">
              <svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1811"><path d="M512 937.353846c-7.876923 0-14.966154-2.363077-21.267692-7.876923C457.649231 899.544615 165.415385 631.729231 165.415385 466.313846v-66.166154C165.415385 226.855385 305.624615 86.646154 478.916923 86.646154h66.166154c173.292308 0 313.501538 140.209231 313.501538 313.501538v66.166154c0 164.627692-292.233846 432.443077-325.316923 463.163077-6.301538 5.513846-13.390769 7.876923-21.267692 7.876923zM478.916923 149.661538C341.070769 149.661538 228.430769 262.301538 228.430769 400.147692v66.166154c0 107.126154 188.258462 307.2 283.569231 396.209231 95.310769-89.796923 283.569231-289.083077 283.569231-396.209231v-66.166154C795.569231 262.301538 682.929231 149.661538 545.083077 149.661538h-66.166154z" fill="#7F7F7F" p-id="1812"></path><path d="M512 433.230769m-118.153846 0a118.153846 118.153846 0 1 0 236.307692 0 118.153846 118.153846 0 1 0-236.307692 0Z" fill="#BFBFBF" p-id="1813"></path><path d="M512 582.892308c-82.707692 0-149.661538-66.953846-149.661538-149.661539s66.953846-149.661538 149.661538-149.661538 149.661538 66.953846 149.661538 149.661538-66.953846 149.661538-149.661538 149.661539z m0-236.307693c-48.049231 0-86.646154 38.596923-86.646154 86.646154s38.596923 86.646154 86.646154 86.646154 86.646154-38.596923 86.646154-86.646154-38.596923-86.646154-86.646154-86.646154z" fill="#7F7F7F" p-id="1814"></path></svg>
              <router-link to="address" style="color:#fff;">我的地址</router-link>
            </div>
        </div>
        <div class="nav">
          <ul class="list">
            <li><i></i><svg class="icon" style="display:block;width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4112"><path d="M282.369 685.236h0.068l623.174-184.37c5.521-1.637 10.156-5.35 12.889-10.364 2.727-5.046 3.27-10.946 1.703-16.432L787.445 25.413c-1.637-5.453-5.318-10.092-10.363-12.783-5.047-2.73-10.975-3.377-16.434-1.74l-118.23 34.98-504.94 149.43h-0.068s0 0.031-0.036 0.031L16.621 231.062c-5.453 1.565-10.092 5.317-12.819 10.364-2.763 5.006-3.342 10.906-1.737 16.432l35.727 120.718 96.992 327.932c2.794 9.277 11.422 15.41 20.696 15.41 2.012 0 4.092-0.271 6.1-0.951l120.758-35.666 0.031-0.065z m-56.454-114.552c-28.197-15.307-59.832-20.416-91.027-15.922l-50.22-169.743c28.605-13.229 52.398-34.708 67.709-62.901 15.338-28.162 20.42-59.797 15.989-90.992L635.26 92.954c12.955 29.623 34.502 54.447 62.184 69.41 19.773 10.667 41.252 16.128 62.867 16.128 8.861 0 17.725-1.229 26.523-3.073l48.885 165.414c-28.635 12.72-52.84 34.063-69.137 62.6-17.455 30.404-23.59 65.656-18.82 99.207L288.813 638.393c-13.227-28.569-34.705-52.364-62.898-67.709z m563.304-80.357c-1.773-22.188 3.137-45.271 14.727-65.457 10.775-18.779 26.049-33.406 44.051-42.613l24.68 83.391-83.458 24.679z m-14.729-356.5c-19.158 3.138-38.797 0.207-56.455-9.406-18-9.717-32.32-24.887-41.594-43.643l75.752-22.429 22.297 75.478zM126.703 243.398c1.673 20.017-2.383 40.099-12.236 58.128-9.785 18.037-24.376 32.424-42.106 41.934l-22.839-77.186 77.181-22.876z m20.525 352.924c20.013-1.637 40.058 2.459 58.095 12.271 18.069 9.82 32.385 24.416 41.898 42.143l-77.15 22.771-22.843-77.185zM1001.275 493.737h-33.684c-11.934 0-21.547 9.621-21.547 21.55 0 11.928 9.613 21.549 21.547 21.549h11.996v86.625c-30.68-5.318-57.955-26.117-71.457-57.617-4.77-10.979-17.453-15.953-28.361-11.281-10.91 4.67-15.957 17.35-11.254 28.328 20.389 47.525 63.074 79.439 111.072 84.893v175.371c-62.455 7.02-112.434 58.367-121.572 124.432H370.67c-9.478-63.957-59.8-114.275-123.756-123.752V760.65c0-12-9.649-21.613-21.546-21.613a21.555 21.555 0 0 0-21.614 21.613v228.549c0 11.865 9.649 21.551 21.614 21.551h775.908c11.859 0 21.545-9.686 21.545-21.551V515.287c-0.001-11.929-9.686-21.55-21.546-21.55zM246.914 887.061c40.194 8.529 72.004 40.234 80.492 80.525h-80.492v-80.525z m654.262 80.525c8.049-42.207 39.412-74.656 78.412-81.203v81.203h-78.412z" fill="#687A8B" p-id="4113"></path><path d="M464.831 345.129c-40.162-0.168-48.17-8.081-50.761-16.496-4.807-15.682 7.09-33.344 26.66-39.444h0.068c13.159-4.024 27.104-1.948 36.273 5.653 9.103 7.609 22.704 6.308 30.378-2.858 7.6-9.175 6.271-22.772-2.898-30.341-14.936-12.377-34.877-18.341-55.062-17.318l-2.727-8.903c-3.477-11.386-15.614-17.726-27-14.284-11.354 3.514-17.729 15.617-14.216 26.972l2.831 9.103c-29.767 18.205-45.313 52.227-35.527 84.133 14.42 46.605 68.663 46.813 92.221 46.917 43.844-1.062 48.854 11.793 50.318 16.536 2.217 7.05 0.99 14.859-3.441 22.053-5.014 8.08-13.262 14.252-23.25 17.351-14.32 4.335-39.172 1.74-56.698-5.997-10.739-4.774-23.622 0.072-28.433 10.979-4.875 10.908 0.072 23.627 10.979 28.465 17.318 7.674 38.15 11.73 57.209 11.73 2.895 0 5.182-0.919 8.045-1.095l2.966 9.718c2.862 9.238 11.386 15.171 20.592 15.171 2.112 0 4.26-0.304 6.376-0.95 11.422-3.514 17.762-15.619 14.248-26.973l-2.795-9.063c11.115-6.787 20.729-15.721 27.479-26.699 11.047-17.895 13.91-38.318 7.908-57.48-14.863-48.07-72.752-47.08-91.743-46.88zM498.07 786.082c0 11.928 9.65 21.613 21.547 21.613h14.117c15.41 49.775 53.93 85.371 99.139 85.371 35.252 0 68.115-21.688 87.891-57.824 5.729-10.5 1.908-23.594-8.525-29.32-10.566-5.725-23.59-1.771-29.318 8.592-12.068 22.158-30.82 35.389-50.047 35.389-22.094 0-41.867-17.111-53.252-42.207h64.773c12.002 0 21.682-9.686 21.682-21.613 0-11.93-9.68-21.551-21.682-21.551h-74.592c0-1.564-0.275-3.066-0.275-4.566 0-2.859 0.412-5.518 0.547-8.313h74.32c12.002 0 21.682-9.686 21.682-21.551 0-11.928-9.68-21.551-21.682-21.551h-63.002c11.59-23.105 30.477-38.588 51.48-38.588 18.477 0 36.07 11.729 48.342 32.32 6.137 10.293 19.432 13.639 29.592 7.498 10.227-6.068 13.637-19.299 7.5-29.52-20.252-33.957-51.412-53.455-85.434-53.455-44.186 0-82.164 33.75-98.221 81.744h-15.035c-11.896 0-21.547 9.623-21.547 21.551 0 11.865 9.65 21.551 21.547 21.551h7.434c-0.137 2.795-0.684 5.453-0.684 8.313 0 1.5 0.309 3.002 0.375 4.566h-7.125c-11.896 0-21.547 9.621-21.547 21.551z" fill="#EEAD0E" p-id="4114"></path></svg><span>待付款</span></li>
            <li><i></i><svg class="icon" style="display:block;width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4638"><path d="M1012.928 454.112l-143.52-197.888c-10.656-14.688-27.84-23.456-45.984-23.456L616.64 232.768l0-39.36c0-42.432-34.496-76.96-76.928-76.96L77.216 116.448c-42.432 0-76.928 34.528-76.928 76.96l0 546.912c0 42.432 34.528 76.928 76.928 76.928l71.392 0c0.8 72.288 59.712 130.848 132.16 130.848 72.96 0 132.32-59.328 132.32-132.32 0-2.336-0.576-4.544-0.704-6.848 2.752 4.896 7.776 8.32 13.76 8.32l174.464 0 16 0 55.392 0c0.8 72.288 59.712 130.848 132.16 130.848s131.36-58.56 132.16-130.848l23.36 0c35.296 0 64-28.704 64-64l0-265.824C1023.744 475.424 1020 463.904 1012.928 454.112zM843.52 275.008l127.552 175.872-221.216 0c-9.312 0-16.896-7.584-16.896-16.896L732.96 264.768l90.464 0C831.328 264.768 838.848 268.608 843.52 275.008zM280.768 916.096c-55.328 0-100.32-44.992-100.32-100.32s44.992-100.32 100.32-100.32 100.32 44.992 100.32 100.32S336.096 916.096 280.768 916.096zM804.192 916.096c-55.328 0-100.32-44.992-100.32-100.32s44.992-100.32 100.32-100.32 100.32 44.992 100.32 100.32S859.52 916.096 804.192 916.096zM991.744 753.248c0 17.664-14.336 32-32 32l-27.136 0c-13.856-58.24-65.984-101.792-128.416-101.792s-114.528 43.552-128.416 101.792L616.64 785.248l0-100.32c0-8.832-7.168-16-16-16s-16 7.168-16 16l0 100.32-158.464 0c-7.136 0-12.96 4.736-15.04 11.2-9.44-63.744-64.032-112.992-130.368-112.992-62.4 0-114.528 43.552-128.416 101.792L77.216 785.248c-24.768 0-44.928-20.16-44.928-44.928L32.288 193.408c0-24.768 20.16-44.96 44.928-44.96l462.464 0c24.768 0 44.928 20.16 44.928 44.96l0 258.912c0 8.832 7.168 16 16 16s16-7.168 16-16L616.608 264.768l84.32 0 0 169.216c0 26.944 21.952 48.896 48.896 48.896l241.152 0c0.288 1.504 0.736 3.008 0.736 4.576L991.712 753.248z" fill="orange" p-id="4639"></path></svg><span>待收货</span></li>
            <li><i></i><svg class="icon" style="display:block;width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5294"><path d="M639.09888 587.79136l0 41.37472L494.39232 629.16608l0 124.01664L453.0176 753.18272l0-124.01664L308.30592 629.16608l0-41.37472L453.0176 587.79136 453.0176 525.7216 308.30592 525.7216l0-41.37984L453.0176 484.34176l0-32.91136-0.12288 0.12288L308.79232 308.05504l29.28128-29.27616 135.75168 135.14752 134.54848-134.42048 28.90752 28.91264L494.39232 451.31264l0 33.02912 144.70656 0 0 41.37984L494.39232 525.7216l0 62.06976L639.09888 587.79136 639.09888 587.79136 639.09888 587.79136M907.93984 592.74752 804.736 490.752l29.28128-29.1584 52.75648 51.7888c-6.66112-222.62272-188.7488-401.20832-412.94848-401.20832-228.4288 0-413.54752 185.11872-413.54752 413.54752s185.11872 413.54752 413.54752 413.54752c144.34304 0 271.38048-74.04544 345.30816-186.0864l48.52224 0c-78.63808 136.00256-225.52576 227.46624-393.94304 227.46624-251.30496 0-454.93248-203.62752-454.93248-454.92736 0-251.30496 203.62752-454.93248 454.93248-454.93248 247.30624 0 448.14848 197.5808 454.31808 443.43296l52.6336-52.6336 29.28128 29.28128L907.93984 592.74752 907.93984 592.74752 907.93984 592.74752M907.93984 592.74752 907.93984 592.74752z" fill="#EEAD0E" p-id="5295"></path></svg><span>退换/售后</span></li>
            <li><i></i><svg class="icon" style="display:block;width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5476"><path d="M459.954135 607.201246l233.733369 0c14.352893 0 25.941835-11.088546 25.941835-24.798802 0-13.623275-11.587919-24.710798-25.941835-24.710798l-233.733369 0c-14.352893 0-25.986861 11.087523-25.986861 24.710798C433.967274 596.1127 445.601242 607.201246 459.954135 607.201246zM382.017088 824.38673l287.564391-0.272199 0-0.633427c9.370415-1.494027 16.660448-9.233292 16.660448-19.053961 0-9.773598-7.290033-17.693987-16.660448-19.23304l0-0.633427L369.500007 784.560676c-27.275203 0-51.949162-38.46915-51.949162-65.214281l0-415.585113c0.181125-1.041726 0.633427-1.992377 0.633427-3.123131 0-10.997472-8.985652-20.00359-20.032242-20.00359-11.023054 0-20.010753 9.007141-20.010753 20.00359l0 418.708244C278.1423 773.383102 327.080895 824.38673 382.017088 824.38673zM693.687504 89.925079c-3.235694 0-311.669392-0.814552-311.669392-0.814552-51.2922 0-96.314603 39.10053-102.108562 88.294952-0.181125 1.085728-0.656963 2.036379-0.656963 3.168156 0 0.091074 0.023536 0.135076 0.023536 0.181125 0 0.046049-0.023536 0.090051-0.023536 0.181125l0.067538 0c0.181125 10.860349 9.031701 19.685341 19.942191 19.685341 10.933003 0 19.762089-8.824993 19.964704-19.685341l0.226151 0c6.043646-24.664749 27.027563-52.04433 50.04786-52.04433l284.755416 0c-0.406253 60.461023 0 118.435413 0 118.435413 0 54.531987 35.991726 91.642187 91.358731 91.642187 0 0 40.133046 0 90.428545 0l0 380.37724c0.338714 44.261063-33.70259 65.757656-62.180178 65.214281l0 0.272199c-10.229992 0.723477-18.425651 9.188266-18.425651 19.594267 0 10.454096 8.195659 18.736736 18.425651 19.417235l0 0.271176c0.248663 0 0.49835-0.091074 0.74599-0.091074 0.184195 0 0.340761 0.091074 0.522909 0.091074 0.971118 0 1.811252-0.407276 2.739391-0.544399 52.287877-3.755534 97.580432-52.314483 97.580432-104.22476L875.452267 299.777551 693.687504 89.925079zM745.615177 299.777551c-27.684526 0-51.927673-51.411927-51.927673-78.69941 0 0 0-27.606755 0-78.656431l0-0.045025 129.839137 157.400866L745.615177 299.777551zM459.954135 483.471246l233.733369 0c14.352893 0 25.941835-11.041474 25.941835-24.708751 0-13.667278-11.587919-24.7548-25.941835-24.7548l-233.733369 0c-14.352893 0-25.986861 11.087523-25.986861 24.7548C433.967274 472.430796 445.601242 483.471246 459.954135 483.471246zM716.709847 841.356216c-8.53335 0-15.32708 6.246261-17.113773 14.256702l-0.475837-0.045025c-21.73093 44.171012-40.426735 34.032094-62.294788 34.032094L252.179998 889.599987c-27.27725 0-64.466244-38.512129-64.466244-65.213257L187.713754 322.314847c0-24.800849 29.857005-58.606793 55.954383-63.403029l0-0.543376c10.571776-0.543376 19.082614-9.142218 19.082614-19.86749 0-10.68127-8.510838-19.279089-19.082614-19.777439l0-0.226151c-0.181125 0.044002-0.339738 0.091074-0.51984 0.091074-0.158612 0-0.272199-0.091074-0.429789-0.091074-1.245364 0-2.353604 0.497327-3.553942 0.724501-50.703799 5.203512-90.860381 52.134381-90.860381 103.092983l0 502.07086c0 54.034661 48.938596 105.038288 103.875812 105.038288l389.558343 0c47.104831 0 78.254272-17.198707 90.542132-61.683874 1.358951-2.533706 2.330068-5.250584 2.330068-8.326643C734.611565 849.546759 726.601124 841.356216 716.709847 841.356216z" fill="#f99" p-id="5477"></path></svg><span>全部订单</span></li>
          </ul>
        </div>
        <div class="bought">
          <div class="img"></div>
          <div class="p_info">
            <p><span>配送中</span>2019-2-15 10:21:20</p>
            <h5 style="font-size:.12rem;color:#999;font-weight:100;">你的订单已经在路上咯，请客官耐心等候哟~</h5>
          </div>
          </div>
          <div class="others">
            <ul>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5621"><path d="M499.3 766c30.9 0 56-25.1 56-56s-25.1-56-56-56-56 25.1-56 56 25.1 56 56 56zM279.4 766c30.9 0 56-25.1 56-56s-25.1-56-56-56-56 25.1-56 56 25.1 56 56 56zM724.7 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56zM499.3 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56zM279.4 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56zM870.4 142.7H757.9v-11.2c0-18.5-15.1-33.6-33.6-33.6s-33.6 15.1-33.6 33.6v11.2H334.6v-11.2c0-18.5-15.1-33.6-33.6-33.6s-33.6 15.1-33.6 33.6v11.2H153.6c-49.5 0-89.6 40.1-89.6 89.6v604.8c0 49.5 40.1 89.6 89.6 89.6h716.8c49.5 0 89.6-40.1 89.6-89.6V232.3c0-49.4-40.1-89.6-89.6-89.6z m44 690.3c0 24.7-20.1 44.8-44.8 44.8H152.8c-24.7 0-44.8-20.1-44.8-44.8V362.6h806.4V833z m0.8-511.1H108.8v-89.6c0-24.7 20.1-44.8 44.8-44.8h113.8v11.2c0 18.5 15.1 33.6 33.6 33.6s33.6-15.1 33.6-33.6v-11.2h356.1v11.2c0 18.5 15.1 33.6 33.6 33.6s33.6-15.1 33.6-33.6v-11.2h112.5c24.7 0 44.8 20.1 44.8 44.8v89.6z" p-id="5622"></path></svg><span>我的预约</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6600"><path d="M818.521139 747.409544 818.521139 369.985566c0-80.256882-30.857798-156.080801-86.888929-213.502605-56.210209-57.607022-131.267673-89.972151-211.346499-91.133603-5.462408-0.077771-11.037381-0.077771-16.507976 0-80.651878 1.169639-156.249647 33.768081-212.867132 91.789543-56.43636 57.836243-87.516216 134.205585-87.516216 215.043704l0 374.162702c0 0-0.323365 12.450567 0.889253 15.093766 6.892991 56.229652 54.617945 99.993388 112.532983 100.623745l-77.260641 59.246359c-9.139148 7.008624-10.866489 20.09671-3.858888 29.234835 4.106528 5.355985 10.298554 8.165983 16.562211 8.165983 4.425799 0 8.889461-1.404999 12.672624-4.307096l39.97341-30.652114c0 0 405.79719-0.274246 407.537833-0.74599l40.945551 31.398104c3.783163 2.902096 8.246825 4.307096 12.673647 4.307096 6.261611 0 12.455683-2.812045 16.561188-8.165983 7.006578-9.139148 5.28026-22.228257-3.858888-29.234835l-77.219709-59.213613 2.291183 0C767.073396 862.09454 818.521139 810.646797 818.521139 747.409544zM320.758398 186.263218c48.861848-50.073442 114.075105-78.206176 183.620018-79.215156 2.533706-0.036839 5.085832-0.055259 7.656377-0.055259 2.569522 0 5.121648 0.01842 7.650237 0.055259 68.971861 1.000793 133.642766 28.900214 182.098361 78.56024 48.387034 49.587372 75.033927 115.066689 75.033927 184.377264l0 361.928053L245.097184 731.913619 245.097184 372.181581C245.097184 302.290791 271.967158 236.265028 320.758398 186.263218zM249.982448 773.617439l521.948583 0c-10.55438 27.328415-37.089733 46.774303-68.094888 46.774303L318.078359 820.391742C287.072181 820.390719 260.537851 800.945855 249.982448 773.617439zM659.029658 882.045941 359.288946 882.045941l26.018583-19.951401L633.011074 862.09454 659.029658 882.045941zM311.822888 440.888406l398.268726 0c11.515265 0 20.85191-9.335622 20.85191-20.85191L730.943524 299.096029c0-11.516288-9.336646-20.85191-20.85191-20.85191L311.822888 278.244118c-11.516288 0-20.85191 9.335622-20.85191 20.85191l0 120.940466C290.970978 431.552783 300.3066 440.888406 311.822888 440.888406zM689.239703 399.184585 529.703197 399.184585c0.013303-0.300852 0.045025-0.596588 0.045025-0.900509l0-78.337159 159.491481 0L689.239703 399.184585zM332.674798 319.947939l155.370627 0 0 78.337159c0 0.303922 0.032746 0.599657 0.045025 0.900509L332.674798 399.185608 332.674798 319.947939zM509.915525 522.272971c-46.962591 0-85.169775 38.20616-85.169775 85.167728 0 46.961568 38.207184 85.168752 85.169775 85.168752s85.168752-38.207184 85.168752-85.168752C595.084277 560.479131 556.878117 522.272971 509.915525 522.272971zM509.915525 650.904607c-23.966854 0-43.465954-19.498076-43.465954-43.464931 0-23.964808 19.4991-43.462884 43.465954-43.462884 23.965831 0 43.464931 19.498076 43.464931 43.462884C553.380456 631.407554 533.88238 650.904607 509.915525 650.904607zM444.256106 225.215368 573.536518 225.215368c11.516288 0 20.85191-9.335622 20.85191-20.85191 0-11.516288-9.335622-20.85191-20.85191-20.85191L444.256106 183.511547c-11.516288 0-20.85191 9.335622-20.85191 20.85191C423.404196 215.879746 432.739818 225.215368 444.256106 225.215368z" p-id="6601"></path></svg><span>买火车票</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7344"><path d="M846.336 939.8272 243.4048 939.8272 243.4048 104.6528c0-14.0288 11.3664-25.4976 25.4976-25.4976l480.0512 0c14.0288 0 25.4976 11.3664 25.4976 25.4976l0 775.68c0 11.4688 9.3184 20.7872 20.7872 20.7872s20.7872-9.3184 20.7872-20.7872L816.0256 104.6528c0-36.9664-30.1056-67.072-67.072-67.072L268.8 37.5808c-36.9664 0-67.072 30.1056-67.072 67.072l0 835.2768-30.3104 0c-11.4688 0-20.7872 9.3184-20.7872 20.7872s9.3184 20.7872 20.7872 20.7872l674.9184 0c11.4688 0 20.7872-9.3184 20.7872-20.7872S857.8048 939.8272 846.336 939.8272zM455.4752 177.7664c0-19.1488-15.5648-34.7136-34.7136-34.7136l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136l0 75.1616c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136L455.4752 177.7664zM432.3328 253.0304c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L432.3328 253.0304zM455.4752 359.0144c0-19.1488-15.5648-34.7136-34.7136-34.7136l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136l0 75.1616c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136L455.4752 359.0144zM432.3328 434.2784c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L432.3328 434.2784zM705.2288 178.7904c0-19.1488-15.5648-34.7136-34.7136-34.7136l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136L560.64 253.952c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136L705.2288 178.7904zM682.0864 253.952c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L682.0864 253.952zM705.2288 360.0384c0-19.1488-15.5648-34.7136-34.7136-34.7136l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136L560.64 435.2c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136L705.2288 360.0384zM682.0864 435.2c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L682.0864 435.2zM420.7616 512.7168l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136L310.8864 622.592c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136l0-75.1616C455.4752 528.2816 439.9104 512.7168 420.7616 512.7168zM432.3328 622.592c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L432.3328 622.592zM670.5152 513.6384l-75.1616 0c-19.1488 0-34.7136 15.5648-34.7136 34.7136l0 75.1616c0 19.1488 15.5648 34.7136 34.7136 34.7136l75.1616 0c19.1488 0 34.7136-15.5648 34.7136-34.7136l0-75.1616C705.2288 529.2032 689.5616 513.6384 670.5152 513.6384zM682.0864 623.5136c0 6.3488-5.2224 11.5712-11.5712 11.5712l-75.1616 0c-6.3488 0-11.5712-5.2224-11.5712-11.5712l0-75.1616c0-6.3488 5.2224-11.5712 11.5712-11.5712l75.1616 0c6.3488 0 11.5712 5.2224 11.5712 11.5712L682.0864 623.5136z" p-id="7345"></path></svg><span>住酒店</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8094"><path d="M512 76.8C271.9744 76.8 76.8 272.0768 76.8 512s195.1744 435.2 435.2 435.2c239.9232 0 435.2-195.2768 435.2-435.2S751.9232 76.8 512 76.8zM512 896c-211.7632 0-384-172.2368-384-384s172.2368-384 384-384c211.7632 0 384 172.2368 384 384S723.7632 896 512 896zM327.168 387.1744l-82.8416 219.648 30.0032 0 22.8352-63.5904 88.7808 0 21.6064 63.5904 32.3584 0-79.1552-219.648L327.168 387.1744zM306.7904 516.8128l34.816-97.1776 1.2288 0 32.3584 97.1776L306.7904 516.8128zM534.7328 441.2416c-19.2512 0-34.4064 8.8064-45.568 26.4192l-1.2288 1.2288-1.2288 0 0-22.8352-25.1904 0 0 222.0032 26.4192 0 0-78.0288 1.2288 0c9.6256 12.8 23.552 19.2512 41.984 19.2512 23.9616 0 41.984-7.9872 53.9648-23.9616 11.1616-15.9744 16.7936-37.1712 16.7936-63.5904s-7.168-46.7968-21.6064-61.2352C569.1392 447.5904 553.984 441.2416 534.7328 441.2416zM531.1488 588.8c-28.7744-2.3552-43.6224-20.3776-44.4416-53.9648 0-45.568 14.4384-68.4032 43.2128-68.4032 30.4128 0 45.1584 19.968 44.4416 60.0064C573.5424 567.1936 559.2064 587.9808 531.1488 588.8zM705.1264 441.2416c-19.2512 0-34.4064 8.8064-45.568 26.4192l-1.2288 1.2288-1.2288 0 0-22.8352-25.1904 0 0 222.0032 26.4192 0 0-78.0288 1.2288 0c9.6256 12.8 23.552 19.2512 41.984 19.2512 23.9616 0 41.984-7.9872 53.9648-23.9616 11.1616-15.9744 16.7936-37.1712 16.7936-63.5904s-7.168-46.7968-21.6064-61.2352C739.5328 447.5904 724.3776 441.2416 705.1264 441.2416zM701.5424 588.8c-28.7744-2.3552-43.6224-20.3776-44.4416-53.9648 0-45.568 14.4384-68.4032 43.2128-68.4032 30.4128 0 45.1584 19.968 44.4416 60.0064C743.936 567.1936 729.6 587.9808 701.5424 588.8z" p-id="8095"></path></svg><span>应用推荐</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8125"><path d="M917.769936 831.774171h-23.847565V495.740296c21.679605-9.394495 36.855328-31.0741 36.855328-56.366972V203.788285c0-33.964714-27.460833-61.425547-61.425547-61.425547H704.587156c-13.730416 0-25.292872 11.562456-25.292872 25.292872s11.562456 25.292872 25.292872 25.292873h164.042343c5.781228 0 10.839802 5.058574 10.839802 10.839802v234.862385c0 5.781228-5.058574 10.839802-10.839802 10.839803H151.03458c-5.781228 0-10.839802-5.058574-10.839802-10.839803V203.788285c0-5.781228 5.058574-10.839802 10.839802-10.839802h166.210304c13.730416 0 25.292872-11.562456 25.292872-25.292873s-11.562456-25.292872-25.292872-25.292872h-166.210304c-33.964714 0-61.425547 27.460833-61.425547 61.425547v234.862385c0 24.570219 14.45307 45.52717 35.410021 55.644319V831.051517H108.398024c-13.730416 0-25.292872 11.562456-25.292872 25.292873s11.562456 25.292872 25.292872 25.292872h809.371912c13.730416 0 25.292872-11.562456 25.292873-25.292872s-11.562456-24.570219-25.292873-24.570219zM175.604799 500.798871h667.731828v330.9753h-114.901906V633.767114c0-23.847565-19.511644-43.35921-43.359209-43.35921H335.311221c-23.847565 0-43.35921 19.511644-43.35921 43.35921v198.007057H175.604799V500.798871z m502.244178 330.9753H342.537756V640.270995h334.588567v191.503176z" fill="" p-id="8126"></path><path d="M414.803105 169.823571m-27.460833 0a27.460833 27.460833 0 1 0 54.921666 0 27.460833 27.460833 0 1 0-54.921666 0Z" fill="" p-id="8127"></path><path d="M510.91602 169.823571m-27.460833 0a27.460833 27.460833 0 1 0 54.921666 0 27.460833 27.460833 0 1 0-54.921666 0Z" fill="" p-id="8128"></path><path d="M607.028934 169.823571m-27.460832 0a27.460833 27.460833 0 1 0 54.921665 0 27.460833 27.460833 0 1 0-54.921665 0Z" fill="" p-id="8129"></path></svg><span>营业厅</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8197"><path d="M888.53626 552.142256c-6.297426 3.086291-10.803044 5.294586-16.561188 8.117888 0 0.952698 0 3.770883 0 7.744381-4.527107-0.488117-8.352225-0.900509-14.367219-1.550309 0.466628 4.148483-0.286526 8.601912 1.50426 11.458983 8.456602 13.496385 16.941857 27.082822 26.75741 39.581484 6.233981 7.937786 8.489348 15.811104 8.102538 25.605168-1.558495 39.552831-2.65241 79.124082-3.826142 118.690216-0.097214 3.287883 0.141216 6.668886 0.828878 9.878998 3.836375 17.885346-3.118014 26.456558-21.570271 26.115797-6.505158-0.12075-13.002129-0.629333-19.50217-0.959861-0.388856-0.856507-0.775666-1.713015-1.163499-2.570545 2.821255-2.913353 5.232165-6.455015 8.541537-8.623401 9.679453-6.348592 12.529361-15.765055 13.071713-26.436092 3.166109-62.365396-9.268084-119.895671-52.783157-167.470199-14.149255-15.467273-28.853142-30.442336-43.667545-45.277206-6.79987-6.809079-9.93835-6.209422-12.034081 3.010567-4.535293 19.97596-8.265244 40.152489-11.675924 60.359716-2.15099 12.750395-2.52245 25.815969-4.925173 38.504966-1.019213 5.382591-4.182252 11.20418-8.105608 15.057951-34.475186 33.873482-56.927547 75.634608-80.461543 118.167307-11.267625 2.142803-24.016996 10.79588-38.866193 2.066055 8.399297-8.494465 16.655332-16.898879 24.975834-25.236777 3.923356-3.931542 8.53949-7.303336 11.878538-11.661597 32.511461-42.435485 47.37703-92.003414 55.162344-143.710053 2.558265-16.993023 5.854335-36.062334-7.676843-51.597145-0.792039-0.911766-1.443885-2.591011-1.182942-3.678786 4.744048-19.712971-5.061272-40.712237 5.303796-59.974953 0.979304-1.815345 0.334621-4.501524 0.535189-8.700149-21.725814-1.662873-43.11803-3.857864-64.560388-4.571109-5.798053-0.193405-11.888771 3.787256-17.59882 6.391571-22.681582 10.335393-45.0091 21.500687-68.01507 31.038924-8.853645 3.672646-19.11536 4.644787-28.837792 5.290493-6.962575 0.463558-10.806113 2.051729-12.859889 9.249665-7.037277 24.674982-7.167237 49.411363 0.107447 73.740468 5.519714 18.452257 4.224208 36.744879 2.577708 55.255465-1.61887 18.190291-3.752464 36.341696-5.013177 54.555523-0.188288 2.696412 2.530636 6.5553 5.013177 8.30106 8.476045 5.959735 10.202363 18.183128 1.292436 22.422685-11.290137 5.373381-11.368932 13.820774-10.876722 23.537066 0.068562 1.330298 0.031722 2.664689 0.052189 3.999081 0.283456 18.9854-3.459798 22.095227-22.274306 18.522865-3.53757-0.672312-7.083326-1.280156-12.186554-2.200108 2.408863-4.406356 4.365424-8.006348 6.339382-11.594059 9.370415-17.032932 12.013615-33.276894 0.728594-51.511187-15.353686-24.808012-37.507242-43.143613-56.532551-64.435545-6.418176-7.184633-13.094226-14.290471-20.490683-20.420075-15.500019-12.852726-13.386892-31.67235-2.051729-44.175105 14.118556-15.576767 28.229948-30.92329 37.588083-49.918923 5.974062-12.122085 11.636015-24.413016 16.848737-36.873816 0.870834-2.081405-0.599657-5.89015-2.136663-8.104585-7.758708-11.184737-15.608489-22.337751-24.107047-32.956599-2.066055-2.581802-6.613628-4.114714-10.166547-4.419659-19.201318-1.644453-38.438451-3.523243-57.682747-3.804652-15.44476-0.227174-28.328185-6.401804-41.125653-13.564947-27.561729-15.421224-47.682999-39.213094-69.012793-61.639872-4.818749-5.067412-9.05933-10.998495-14.691607-14.915711-13.948687-9.702989-17.884322-23.944342-20.180622-39.373753-1.904373-12.812817-9.91686-18.818601-22.678512-21.120017-21.12411-3.813862-42.015929-8.966209-62.901609-13.988596-1.893116-0.456395-4.114714-3.971451-4.341888-6.249331-1.431605-14.398942 6.442736-26.810622 19.639293-32.305777 11.852956-4.932336 23.830755-7.886621 36.846186-5.290493 3.304256 0.660032 7.673773 0.12689 10.494005-1.595334 20.487613-12.517081 42.934858-10.385535 65.092507-8.734942 17.328667 1.293459 15.06716 2.569522 19.195178 19.50217 7.716752 31.664164 13.847379 64.447824 37.293371 89.854471 9.644661 10.450003 20.47431 17.908882 35.319413 17.877159 14.540158-0.032746 29.54285 2.311649 43.479257-0.569982 10.957563-2.267647 21.263279-10.012028 30.616298-16.987906 7.342222-5.474688 13.123902-13.217023 19.007913-20.432355 16.47523-20.206204 37.751812-29.822213 63.600527-29.676903 8.972349 0.050142 18.027585 1.316995 26.872021 0.38374 4.743024-0.500397 9.93835-3.675716 13.409404-7.160073 2.771113-2.78237 3.254114-7.851828 4.731768-11.915377 5.389754-14.806217 9.920954-17.610076 25.462928-15.737426 12.531408 1.511423 19.456121-3.101641 22.908756-15.397688 1.342578-4.78191 1.483794-10.238179 3.993964-14.246469 2.093684-3.342118 6.868431-6.92983 10.41521-6.886851 3.495614 0.041956 8.635681 3.755534 10.131755 7.148817 12.153808 27.507494 11.822257 27.400047 37.644365 11.629875 8.147564-4.976338 16.802688-9.614985 25.830295-12.533454 11.511171-3.723811 19.414165 0.845251 22.892383 12.44545 2.447748 8.156774 9.286504 7.846712 15.008832 9.354042 15.842827 4.174066 16.07614 5.589298 6.144954 18.065448-3.143597 3.950985-4.982478 11.32493-3.618411 16.025998 3.789303 13.033851 9.255805 25.629727 14.778588 38.07927 1.617847 3.647063 5.14723 7.017834 8.633634 9.17394 31.588439 19.539009 54.54529 47.602158 76.03779 76.990488 3.717671 5.082762 6.081509 12.020778 6.724145 18.34174 2.644223 26.107611 4.380774 52.30732 6.466272 78.472236 0.788969 9.871835 4.725628 17.83418 13.589506 23.026436C865.989755 538.456558 876.163465 544.698726 888.53626 552.142256zM473.686904 560.219211c-1.223874-0.205685-2.449795-0.411369-3.673669-0.617054-2.026146 2.211365-4.297886 4.249791-6.034437 6.670933-4.966105 6.932899-9.875928 13.916964-14.514575 21.070898-9.093099 14.031575-16.33606 28.76923-8.248871 45.61285 3.784186 7.889691 8.845459 15.414061 14.508435 22.102391 10.577916 12.488429 22.018479 24.24417 33.095769 36.306904 0.870834-0.414439 1.738597-0.827855 2.608407-1.24127C485.516324 646.823662 479.600591 603.520413 473.686904 560.219211z" p-id="8198"></path></svg><span>去哪儿</span></li>
              <li><i></i><svg class="icon" style="width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8384"><path d="M802.649148 318.851978l-72.698742 0c4.143367-10.803044 6.30152-22.378683 6.30152-34.047444 0-25.323758-9.907651-49.15656-27.887141-67.101257-17.955954-17.968234-41.819454-27.863604-67.200518-27.863604-50.613748 0-91.768053 38.617529-111.779829 61.620429-6.131651 7.003508-12.036128 14.56881-17.398252 22.273283-5.346775-7.662517-11.237949-15.223726-17.362436-22.261003-20.054755-23.016203-61.252039-61.632709-111.802342-61.632709-52.423977 0-95.077426 42.60126-95.077426 94.964862 0 11.654434 2.162246 23.233144 6.307659 34.047444l-72.692602 0c-16.814967 0-30.493501 13.666254-30.493501 30.463826l0 96.765881c0 16.796548 13.678534 30.461779 30.493501 30.461779l1.792832 0 0 292.035216c0 34.592866 28.16855 62.73788 62.791092 62.73788l452.101795 0c34.622542 0 62.791092-28.145014 62.791092-62.73788l0-292.035216 1.812275 0c16.808828 0 30.483268-13.665231 30.483268-30.461779l0-96.765881C833.132416 332.518233 819.457975 318.851978 802.649148 318.851978zM534.069133 361.976148l0 428.606685-44.119847 0 0-428.606685L534.069133 361.976148zM449.20942 476.503555l0 314.079278-163.265434 0c-12.164041 0-22.059412-9.871835-22.059412-22.0062l0-292.052612L449.20942 476.503555zM574.777277 359.440395l77.703733 0-0.104377 0.130983 140.025127 0 0 76.262918-217.624483 0L574.777277 359.440395zM641.164267 230.562143c29.977755 0 54.367235 24.333198 54.367235 54.242392 0 11.838629-3.755534 23.079648-10.858302 32.504298l-1.165546 1.544169-151.413502 0 2.954285-5.308913c6.701632-12.045337 15.361873-24.263613 25.060769-35.352159C596.140841 236.749052 626.359073 230.562143 641.164267 230.562143zM382.82243 230.562143c14.770402 0 44.943608 6.187933 81.078597 47.621601 9.751085 11.206226 18.411325 23.432689 25.047466 35.360346l2.952238 5.308913-151.407362 0-1.147126-1.533936c-7.117095-9.43693-10.878768-20.679995-10.878768-32.513508C328.466452 254.895341 352.849792 230.562143 382.82243 230.562143zM372.053156 359.440395l77.155241 0 0 76.136028-211.119325 0.236384-6.493901 0 0-76.252685 140.556223 0L372.053156 359.440395zM738.044758 790.582833l-163.267481 0 0-314.041416 185.325869 0 0 292.035216C760.104169 780.710998 750.208798 790.582833 738.044758 790.582833z" p-id="8385"></path></svg><span>用户福利</span></li>
              <li><i></i><svg class="icon" style="width:.3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1106 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8561"><path d="M479.733045 252.246493c16.896332 0 31.478756 12.596502 35.462599 30.63079l2.403905 10.38959a273.924177 273.924177 0 0 1 4.022841 46.606158c0 38.307486-3.649856 67.83032-11.162559 90.252434l-19.649224 58.656682 61.862556 0.25999c59.705641 0.25199 150.511053 0.679973 159.261707 0.846967 15.642382 0.666974 21.805138 6.007763 27.132928 14.950409 5.439785 9.157638 6.367748 18.306277 6.08676 24.737023-4.05684 25.169006-54.147861 251.030081-62.554529 285.048737-3.099878 5.369788-7.281712 9.892609-12.164519 13.14748-8.419667 5.57478-8.972645 5.57478-12.799494 5.57478l-362.388682 0.020999 0.50298-328.74701c87.596539-27.396918 151.325021-108.453715 153.846922-202.452001l0.066997-2.457903-0.134995-1.627936 0.020999-0.959962 0.062998-3.842848c0.009-19.766219 9.434627-41.034379 30.11881-41.034379m-300.448129 262.610624v318.683408h-60.087626V514.857117h60.087626m300.448129-307.327857c-44.893226 0-74.827043 38.911463-74.827043 85.746612 0 2.638896-0.209992 5.163796 0 7.689696-2.349907 87.58054-71.518174 157.986758-153.808923 167.643376l-0.629975 409.472821h8.033682c-0.012-0.012999 0.083997-0.020999 0.372985-0.020999 0.302988 0 0.394984 0.008 0.381985 0.020999l398.386259-0.020999h0.251991c15.038406 0 23.52907-3.939844 37.224529-13.004486 13.054484-8.703656 22.929094-20.609186 29.363839-34.065654 1.78293-2.701893 63.627486-280.560915 65.209424-297.051263 1.237951-17.584305-2.579898-35.773587-12.177519-51.931948-15.135402-25.403996-37.120533-35.668591-63.719482-36.793546-1.379945-0.213992-160.931641-0.884965-160.931642-0.884965 10.562583-31.540754 13.477467-69.131269 13.477468-104.455873a318.725407 318.725407 0 0 0-7.08472-66.690365l-0.394985 0.041998c-8.317671-37.631513-40.555398-65.695404-79.126873-65.695404zM192.557392 470.143884h-86.636577c-17.374314 0-31.439758 14.514427-31.439758 32.405719v343.303436c0 17.886293 14.065444 32.40472 31.439758 32.40472h86.636577c17.375313 0 31.440758-14.514427 31.440757-32.40472V502.553603c0-17.895293-14.061444-32.408719-31.440757-32.408719z m66.707364 407.937881h-0.75497c0.008 0.012999 0.074997 0.024999 0.158994 0.041999-0.062998 0.024999-0.058998 0.033999 0 0.033998a2.852887 2.852887 0 0 0 0.213991-0.012999 3.355867 3.355867 0 0 0 0.225991 0.012999c0.067997 0 0.075997-0.012999 0-0.033998a0.653974 0.653974 0 0 0 0.155994-0.041999z m647.044434-761.03993a13.17148 13.17148 0 0 0-9.425627-8.733654L805.644168 86.197054 756.420113 6.260213a13.179479 13.179479 0 0 0-22.434114 0l-49.222055 79.936841-91.238395 22.115126a13.17148 13.17148 0 0 0-6.933726 21.339157l60.812597 71.518174-7.164717 93.604302a13.189479 13.189479 0 0 0 18.155283 13.189479l86.80857-35.741588 86.80857 35.740588a13.197479 13.197479 0 0 0 12.756496-1.52694 13.16348 13.16348 0 0 0 5.389787-11.661539l-7.159717-93.604302 60.812597-71.517174a13.17148 13.17148 0 0 0 2.495901-12.610502z" fill="" p-id="8562"></path></svg><span>我的推荐</span></li>
            </ul>
          </div>
    </div>
    <div class="like">
      <h2 style="color:#f99;font-size:.2rem;text-align:left">猜你喜欢：</h2>
            <List :list="list"/>
          </div>
    </div>
</template>
<script>
import Vue from 'vue'
import List from '@/components/home/List'
import api from '@/api/home'
import { Header, Actionsheet } from 'mint-ui'
Vue.use(Header, Actionsheet)
export default {
  name: 'user',
  data () {
    return {
      list: [],
      actions: [
        {
          name: '拍照',
          method: this.fn1
        },
        {
          name: '从相册选取',
          method: this.fn2
        }
      ],
      sheetVisible: false
    }
  },
  methods: {
    fn1 () {
      console.log('拍照')
    },
    fn2 () {
      console.log('从相册选取')
    },
    selectAvatar () {
      this.sheetVisible = true
    }
  },
  components: {
    List
  },
  created () {
    api
      .requestList()
      .then(data => {
        this.list = data
      })
      .catch(err => console.log(err))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '@/qunar/reset.scss';
  .mint-header {
  @include background-color(orange);
  @include rect(100%,auto)
 }
 .container{
   background:#fff;
 .user {
   @include rect(100%,1.2rem);
   @include background-color(orange);
   @include flexbox();
  padding:.2rem;
  color:#fff;
  font-weight:100;
  .avater {
   display:block;
   border-color:orange;
   border-radius:50%;
   @include rect(.7rem,.7rem);
   background: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3533755074,2479010611&fm=27&gp=0.jpg) no-repeat center;
   background-size:contain;
 }
 .ctr{
   @include flexbox();
   flex:1;
   padding-left:.8rem;
 }
}
.nav{
  margin-top:.2rem;
  background:#eee;
  padding: .1rem;
  ul{
     @include flexbox();
     justify-content: space-around;
     li{
       text-align:center;
       svg{
         margin-left:.1rem;
       }
     }
  }
}
.bought{
  margin-top:.2rem;
  background:#eee;
  padding: .1rem;
  @include flexbox();
  .p_info{
    flex:1;
    span{
      color:orange;
      font-size:.2rem;
      margin-right:.1rem;
    }
  }
}
.others{
  margin-top:.2rem;
  background:#eee;
  padding: .1rem;
  ul{
     @include flexbox();
     justify-content: space-around;
     flex-wrap: wrap;
     li{
       @include rect(25%,.8rem);
       text-align:center;
       svg{
         margin-left:.25rem;
         display:block;
       }
     }
    }
  }
}
.contain{
  @include overflow();
}
</style>
