<template>
  <ul class="prolist">
    <li v-for="(item, index) of list" :key="index" @click="goDetail(item.id)">
      <div class="proimg">
        <img :src="item.images" :alt="item.images">
      </div>
      <div class="info" style="font-size:.12rem;padding:.01rem">
        <h3> {{ item.brand }} </h3>
         <h2>
         <svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2835"><path d="M835.361 769.7c-7.519 15.883-23.416 26.191-41.08 26.191h-583.61c-20.743 0-38.826-14.038-43.863-34.028-8.858-35.144-8.128-72.632 0.207-114.044 19.758-92.546 90.32-165.459 95.965-258.005 28.225 50.48 31.047 84.131 33.87 134.611 84.673-103.764 172.17-241.178 152.412-367.378 0 0 160.882 47.677 225.798 294.462 39.515-33.651 36.694-103.761 16.936-145.827C735.093 335.656 936.12 556.894 835.361 769.7zM438.075 582.139h-23.586v64.71h-80.923v-64.71h-23.584v153.504h23.584v-68.798h80.923v68.798h23.586V582.139z m154.27 19.778c-13.632-15.262-32.239-22.788-55.606-22.788-23.587 0-42.196 7.526-55.611 23.005-12.981 14.62-19.257 33.538-19.257 56.973 0 23.217 6.276 42.135 19.257 56.755 13.415 15.052 32.024 22.79 55.611 22.79 23.367 0 41.974-7.526 55.606-22.575 12.983-14.62 19.474-33.538 19.474-56.97 0-23.65-6.491-42.783-19.474-57.19z m157.943-19.778H623.714v19.995h51.714v133.509h23.367V602.134h51.493v-19.995zM536.739 718.011c-16.446 0-29.214-5.591-38.301-16.339-8.655-10.535-12.981-24.724-12.981-42.565 0-18.061 4.326-32.251 12.981-42.783 9.087-11.18 21.855-16.56 38.301-16.56 16.443 0 29.211 5.165 38.079 15.912 8.657 10.535 13.2 24.94 13.2 43.431 0 18.27-4.543 32.678-13.2 42.995-8.868 10.535-21.636 15.909-38.079 15.909z" fill="red" p-id="2836"></path></svg>
         {{ item.name }} </h2>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'homelist',
  props: {
    list: {
      type: Array,
      required: true
    }
  },
  methods: {
    goDetail (id) {
      this.$router.push('/detail?id=' + id)
      // this.$router.push({name: 'detail', params: {id}})
      // this.$router.push({path: '/detail', query: {id}})
    }
  }
}
</script>

<style lang="scss">
@import '@/qunar/reset.scss';

.prolist {
  @include flexbox();
  flex-wrap: wrap;
  li {
    @include rect(50%, 2rem);
    .proimg{
      @include rect(100%, 50%);
      @include padding(0.05rem);
      img{
        @include rect(auto, 100%);
      }
    }
    @include border(0 1x 1px 0, #ccc, solid); // 1px边框实现
    h2 {
      font-weight:100;
    }
  }
}
</style>
