<template>
  <ul class="searchlist">
    <li v-for="(item, index) of result" :key="index" @click="goDetail(item.id)">
      <div class="proimg">
        <img :src="item.images" :alt="item.images">
      </div>
      <div class="info">
        <h2>{{ item.name }}</h2>
        <h3> {{ item.barand }} </h3>
        <h4>{{ item.address }}</h4>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'searchlist',
  props: {
    result: {
      type: Array,
      required: true
    }
  },
  methods: {
    goDetail (id) {
      this.$router.push('/detail?id=' + id)
    }
  }
}
</script>

<style lang="scss">
@import '@/qunar/reset.scss';

.prolist {
  li {
    @include rect(100%, 1.1rem);
    @include flexbox();
    .proimg{
      @include rect(1rem, 1rem);
      @include padding(0.05rem);
      img{
        @include rect(auto, 1rem);
      }
    }

    .info {
      @include flex();
    }

    @include border(0 0 1px 0, #ccc, solid); // 1px边框实现
  }
}
</style>
