<template>
  <button  style="border:0;background:orange;" @click="back">
    <svg class="icon" style="width: .2rem; height: .2rem;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1655"><path d="M462.266 167.466l-328.098 284.381 328.098 284.359v-191.379s454.799-147.683 362.705 311.707c0 0 293.586-557.828-368.422-519.544l5.719-169.527z" fill="#fff" p-id="1656"></path></svg>
  </button>
</template>

<script>
export default {
  name: 'back',
  methods: {
    back () {
      console.log(this)
      this.$router.go(-1)
    }
  }
}
</script>
