@import '@/qunar/reset.scss';

html, body , #app {
  @include rect(100%, 100%);
}

#app{
  @include flexbox();
  @include flex-direction(column);
  @include text-align();
  @include color(#666);

  .container {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);

    .header {
      @include rect(100%, .5rem);
      @include background-color(orange);
    }
    .content {
      @include flex();
      @include rect(100%, auto);
      @include background-color(#fff);
      @include overflow();
    }
  }
  .footer {
    @include rect(100%, 0.8rem);
    @include background-color(#eee);
    // @include gradient(background-color,y,#f5f,#fff);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      li {
        @include flex();
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();

        &.router-link-active {
          @include color(orange);
          p {
            transform: scale(1.2, 1.2);
          }
        }
      }
    }
  }
}